<h1>DICE ROLL</h1>

<div>
<li><a href="/dice/2/6">Roll two 6-sided Dice</a></li>
<li><a href="/dice/2/10">Roll two 10-sided Dice</a></li>
<li><a href="//dice/1/20">Roll 1 20-sided Die</a></li>
<li><a href="/dice/5/4">Roll five 4-sided Dice</a></li>
</div>
